@layer base {
  html {
    /*background: var(--color-canvas);*/
    /*font-optical-sizing: auto;*/
    font-size: 100%;
  }

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--color-canvas);
    color: var(--color-ink-medium);
    font-family: var(--font-family);
    font-size: var(--text-normal);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
  }

  p {
    font-size: var(--text-normal);
    font-weight: var(--font-weight-regular);
  }

  a {
    color: var(--color-accent);
    text-decoration-thickness: from-font;
    text-decoration-skip-ink: auto;
  }

  a:hover {
    color: var(--color-accent-hover);
  }

  :is(a, button) {
    touch-action: manipulation;
    transition-property: background-color, border-color, box-shadow, filter, outline;
    transition: 0.1s ease-out;
  }

  :is(a, button):where(:focus-visible) {
    border-radius: var(--border-radius);
    outline: var(--focus-ring-size, 2px) solid var(--color-accent);
    outline-offset: var(--focus-ring-offset, 1px);
  }

  ::selection {
    background: var(--color-selection);
  }
}
