@layer base {
  html {
    background: var(--color-canvas);
    color: var(--color-ink);
    font-feature-settings: 'ss01', 'ss03';
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: var(--font-weight);
    scroll-behavior: smooth;
  }

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--color-canvas);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
  }

  p {
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
  }

  a {
    color: var(--color-accent);
    text-decoration-thickness: from-font;
    text-decoration-skip-ink: auto;
  }

  a:hover {
    color: var(--color-accent-hover);
  }

  :is(a, button) {
    touch-action: manipulation;
    transition-property: background-color, border-color, box-shadow, filter, outline;
    transition: 0.1s ease-out;
  }

  :is(a, button):where(:focus-visible) {
    border-radius: var(--border-radius);
    outline: var(--focus-ring-size, 2px) solid var(--color-accent-hover);
    outline-offset: var(--focus-ring-offset, 1px);
  }
}
