@layer tokens {
  :root {
    color-scheme: light dark;

    --lch-blue-darkest: 26% 0.126 264;
    --lch-blue-darker: 40% 0.166 262;
    --lch-blue-dark: 57.02% 0.1895 260.46;
    --lch-blue-medium: 46% 0.3 265;
    --lch-blue-light: 84.04% 0.0719 255.29;
    --lch-blue-lighter: 92% 0.026 254;
    --lch-blue-lightest: 96% 0.016 252;

    --lch-gray: 50% 0% 0;
    --lch-gray-dark: 30% 0% 0;
    --lch-gray-light: 70% 0% 0;
    --lch-gray-lighter: 97% 0% 0;

    --h-green: 145;
    --lch-green: 56% 0.3 var(--h-green);

    --lch-white: 100% 0% 0;

    --color-canvas: oklch(var(--lch-gray-lighter));
    --color-paper: oklch(var(--lch-white));
    --color-ink: oklch(var(--lch-gray-dark));
    --color-ink-strong: oklch(var(--lch-gray-dark));
    --color-ink-soft: oklch(var(--lch-gray-light) / 0.75);
    --color-border: oklch(var(--lch-gray) / 0.25);

    --color-ink-inverse: oklch(var(--lch-white));

    --color-hover: oklch(var(--lch-gray-light) / 0.25);

    --color-accent: oklch(var(--lch-blue-medium));
    --color-accent-hover: oklch(var(--lch-blue-medium) / 0.8);

    --color-success: oklch(var(--lch-green));

    --svg-preview-bg: oklch(70% 0% 0);

    /* Typography */
    --font-size: 16px;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

    --small-font-size: 0.85rem;
    --h1-font-size: 1.25rem;

    --font-weight-regular: 300;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --line-height: 1.3em;

    /* Layout */
    --border-radius: 0.25rem;
    --transition-duration: 0.25s;

    /* Others */
    --max-card-width: 16rem;

    --inline-spacing: 1ch;
    --block-spacing: 1rem;
  }
}
