@layer tokens {
  :root {
    color-scheme: light dark;

    --h-blue: 265;
    --lch-blue: 46% 0.3 var(--h-blue);
    --lch-blue-dark: 20% 0.3 var(--h-blue);
    --lch-blue-light: 96% 0.1 var(--h-blue);
    --lch-blue-lighter: 100% 0.02 var(--h-blue);

    --lch-gray: 50% 0% 0;
    --lch-gray-dark: 30% 0% 0;
    --lch-gray-light: 70% 0% 0;
    --lch-gray-lighter: 97% 0% 0;

    --lch-white: 100% 0% 0;

    --color-canvas: oklch(var(--lch-gray-lighter));
    --color-paper: oklch(var(--lch-white));
    --color-ink: oklch(var(--lch-gray-dark));
    --color-ink-strong: oklch(var(--lch-gray-dark));
    --color-ink-soft: oklch(var(--lch-gray-light) / 0.75);
    --color-border: oklch(var(--lch-gray) / 0.25);

    --color-ink-inverse: oklch(var(--lch-white));

    --color-hover: oklch(var(--lch-gray-light) / 0.25);

    --color-accent: oklch(var(--lch-blue));
    --color-accent-hover: oklch(var(--lch-blue) / 0.8);

    --svg-preview-bg: oklch(70% 0% 0);

    /* Typography */
    --font-size: 16px;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

    --small-font-size: 0.85rem;
    --h1-font-size: 1.25rem;

    --font-weight-regular: 300;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --line-height: 1.3em;

    /* Layout */
    --border-radius: 0.25rem;
    --transition-duration: 0.25s;

    /* Others */
    --max-card-width: 16rem;

    --inline-spacing: 1ch;
    --block-spacing: 1rem;
  }
}
