@layer utilities {
  .font-bold {
    font-weight: var(--font-weight-bold);
  }

  .text-small {
    font-size: var(--text-small);
  }

  .hidden {
    display: none;
  }

  .is-success {
    pointer-events: none;
    animation: pop-in 200ms ease-out both;

    svg {
      color: var(--color-success);
    }
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
