/* 1. CSS Variables */
:root {
  /* Base colors */
  --white: rgba(255, 255, 255, 1);
  --blue: rgba(47, 44, 248, 1);
  --blue-hover: rgba(105, 44, 248, 1);
  --background-gray: hsl(200, 23%, 97%);
  --text-dark: rgba(29, 29, 37, 1);
  --text-medium: rgba(72, 73, 77, 1);
  --text-light: rgba(117, 119, 124, 1);
  --border-gray: rgba(231, 232, 235, 1);

  /* Semantic and Component colors */
  --color-primary: var(--blue);
  --color-primary-hover: var(--blue-hover);
  --color-background: var(--background-gray);
  --color-text: var(--text-dark);
  --color-text-secondary: var(--text-medium);
  --color-text-tertiary: var(--text-light);
  --color-border: var(--border-gray);
  --color-card: var(--white);
  --color-button: var(--color-primary);
  --color-button-hover: var(--color-primary-hover);
  --color-button-text: var(--white);
  --color-notification: var(--color-primary);

  /* Typography */
  --font-size: 16px;
  --small-font-size: 0.85rem;
  --h1-font-size: 1.25rem;

  /* Layout */
  --border-radius: 0.25rem;
  --transition-duration: 0.25s;

  /* Shadows */
  --shadow-color: 200deg 15% 72%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
    0.4px 0.8px 1.1px -1px hsl(var(--shadow-color) / 0.21),
    0.8px 1.7px 2.3px -2px hsl(var(--shadow-color) / 0.24);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.19),
    0.8px 1.6px 2.1px -0.7px hsl(var(--shadow-color) / 0.21),
    1.8px 3.6px 4.8px -1.3px hsl(var(--shadow-color) / 0.24),
    4.2px 8.4px 11.3px -2px hsl(var(--shadow-color) / 0.26);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
    1.2px 2.4px 3.2px -0.3px hsl(var(--shadow-color) / 0.19),
    2.2px 4.3px 5.8px -0.6px hsl(var(--shadow-color) / 0.2),
    3.4px 6.7px 9px -0.9px hsl(var(--shadow-color) / 0.21),
    5.1px 10.3px 13.8px -1.1px hsl(var(--shadow-color) / 0.22),
    7.8px 15.6px 20.9px -1.4px hsl(var(--shadow-color) / 0.23),
    11.5px 23.1px 31px -1.7px hsl(var(--shadow-color) / 0.24),
    16.8px 33.5px 45px -2px hsl(var(--shadow-color) / 0.25);
  --header-box-shadow: var(--shadow-elevation-low);
  --card-box-shadow: var(--shadow-elevation-medium);
  --notification-box-shadow: var(--shadow-elevation-medium);

  /* Others */
  --max-card-width: 16rem;
}

/* 2. Global Styles */
body {
  background-color: var(--color-background);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--font-size);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Layout Components */
.header {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 1.5rem;
  position: sticky;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--header-box-shadow);
}

.container {
  padding: 4rem 2rem;
}

.footer {
  padding: 2rem;
  text-align: center;
}

/* 4. Typography */
h1 {
  color: var(--color-text-secondary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.25rem;
}

.disclaimer {
  max-width: 28em;
  color: var(--color-text-tertiary);
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.sender-url {
  overflow-wrap: anywhere;
}

/* 5. Buttons */
.btn-download-all {
  color: var(--color-button-text);
  background-color: var(--color-button);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration) ease-in-out;
  font-size: var(--font-size);
}

.btn-download-all:hover,
.btn-download-all:focus {
  color: var(--color-button-text);
  background-color: var(--color-button-hover);
}

.btn-download-all--hidden {
  display: none;
}

.button-icon {
  display: flex;
  align-items: baseline;
}

/* 6. Cards */
.svg-card {
  background-color: var(--color-card);
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
  color: var(--color-text);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: var(--max-card-width);
  padding: 2rem;
}

.svg-card__content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-block-end: 2rem;

  svg {
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
  }
}

.svg-card__actions {
  display: flex;
  justify-content: space-between;
}

/* 7. Icons */
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-small {
  width: 1rem;
  height: 1rem;
}

.icon-left {
  margin-right: 1rem;
}

.icon-right {
  margin-left: 1rem;
}

/* 8. Notifications */
.notification {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--color-notification);
  color: var(--color-button-text);
  padding: 1rem 1.5rem;
  border-radius: calc(var(--border-radius) * 2);
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 10;
  opacity: 0;
  box-shadow: var(--notification-box-shadow);
  transition: opacity var(--transition-duration) ease-in-out,
    transform var(--transition-duration) ease-in-out;
  transform: translateX(240px);

  &.notification--active {
    opacity: 1;
    transform: translateX(0);
  }

  & p {
    margin: 0;
  }
}

/* 9. Utility Classes */
.hidden {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
}

/* 10. Specific Component Styles */
.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  color: var(--color-text);
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.logo__text {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.svg-source-info {
  margin-bottom: 6rem;
}

.grid-svg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--max-card-width), 1fr));
  grid-template-rows: auto;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  align-content: stretch;
}

/* 11. Generic Element Styles */
button {
  background: none;
  outline: none;
  border: none;
  font-size: var(--font-size);
}

a {
  text-decoration: none;
}

button,
a {
  color: var(--color-button);
  cursor: pointer;
  transition: color var(--transition-duration) ease-in-out;
  font-weight: 500;
}

button:hover,
button:focus,
a:hover,
a:focus {
  color: var(--color-button-hover);
}

/* 12. Animations */
.fade-in {
  animation: fadeIn 250ms cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
